@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
    font-family: 'Nanum Gothic', sans-serif;
    background-image: url(image/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
input:focus{
    outline: 1px solid rgb(0, 140, 255);
}
img{
    margin-bottom: -3px;
    margin:0px;
    padding: 0px;
}
#login{
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif;
    border: solid rgb(219, 216, 216) 0.25px;
    width: 450px;
    height: 340px;
    margin: 0 auto;
    margin-top: 15%;
    padding: 1%;
    box-shadow: 1px 2px 2px 2px gray ;
}
#login .loginbox{   
width: 300px;
height: 250px;
margin: 2%;
margin-left: 5%;
margin-bottom: 1%;

}
#pwinput{
    color: rgb(71, 70, 70);
    font-size: 25px;
}
a{
    text-decoration:none; color:dodgerblue;
}
.findpw{
    font-size: 13px;
    text-decoration-color: rgb(0, 102, 255);
}
.anotherlogin
{
    font-size: 13px;
}
#loginpw{
    border: solid rgba(204, 204, 204, 0.253) 1px;
}

.btnlogin{
width: 100%;
text-align: center;
}

#loginbtn{
    width: 100px;
    height: 35px;
    background-color: dodgerblue;
    display: inline-block;
    border: 0px;
    border-radius: 1px;
    font-weight: bold;
    position: relative;
    top: 1px;
    margin-left: 100%;
    color: white;
}